/*.parent-cards {
    display: block;
}

.cards-hori {
    display: flex;
}*/

.menu-item {
    padding: 0 10px;
    margin: 5px 10px;
    padding-bottom: 50px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
/*.menu-item-wrapper.active {
    border: 1px blue solid;
}
.menu-item.active {
    border: 1px green solid;
}*/

.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}

.image-hori {
    display: block;
    height: 150px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-hori:hover {
    -webkit-filter: sepia(.2) grayscale(.4) saturate(.5);
    filter: sepia(.2) grayscale(.4) saturate(.5);
}

.parent-card {
    width: 200px;
    text-align: left;
    background: #f3f3f3;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}

.image-parent {
    width: 200px;
    height: 150px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 15px;
    color: #29303b;
    margin-bottom: 10px;
}

.description {
    display: block;
    padding: 15px 10px 0 15px;
    height: 100px;
}

.parent-cards {
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
}

.extra {
    background: #edf0f3;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px 28px 0;
    max-width: calc(216px + 15px);
    padding: 0 32px;
}

.cards-hori {
    width: 70%;
    float: right;
}

.header {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.47em;
    display: block;
}

.data {
    display: block;
}